* {
    /* Sets page border padding and margin to 0 */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Sets the styling of the links */
a {
    color: #ffffff;
    text-decoration: none;
}

body {
    background-color: #d9dcd6;
}
/* Sets the styling of the header */
.header {
    /* Sets header padding to 20px */
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    /* Sets header h1 container as inline-level block container */
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}

.header nav {
    /* Sets navigation box within header to a top padding of 15px and right margin of 20px */
    padding-top: 15px;
    margin-right: 20px;
    /* Sets nav box within header to float to the right side of the screen */
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    /* Sets the space between each navigation link to 25px */
    margin-left: 25px;
}

p {
    font-size: 16px;
}

/* Sets the styling for the main background image */
.hero {
    height: 800px;
    width: 100%;
    /* Addes bottom margin of 25px in between background image and the next section */
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Sets a right margin of 25px to the float-left element used for the content class images */
.float-left {
    float: left;
    margin-right: 25px;
}

/* Sets a left margin of 25px to the float-right element used for the content class images */
.float-right {
    float: right;
    margin-left: 25px;
}
 /* Sets the styling of the content section */
.content {
    /* Sets the width of the content box to 75% */
    width: 75%;
    display: inline-block;
    /* Sets the left margin of the content box to 20px */
    margin-left: 20px;
}

.content-items {
    /* Adjusts the styling of the items within the content box */
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.content-items img {
    /* Limits the height of the images within the content box to 200px */
    max-height: 200px;
}

.content-items h2 {
    /* Sets the space between the content item title and its description to 20px */
    margin-bottom: 20px;
    font-size: 36px;
}
/* Sets the styling of the benefits section */
.benefits {
    /* Sets the right margin of the benefits box to 20px and padding to 20px */
    margin-right: 20px;
    padding: 20px;
    clear: both;
    /* Pins the benefits box to the right side of the website */
    float: right;
    /* Sets the width of the benefits box to 20% */
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-items {
    /* Sets the space between each benefit item to 32px using the bottom margin */
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-items h3 {
    /* Sets the space between each benefit title and its icon to 10px using the bottom margin */
    margin-bottom: 10px;
    text-align: center;
}

.benefit-items img {
    display: block;
    /* Sets the image margin of the benefit icons to 10px and a max width of 150px */
    margin: 10px auto;
    max-width: 150px;
}

/* Sets the styling of the footer */
.footer {
    /* Sets the padding of the footer to 30px */
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer div {
    font-size: 24px;
}
